* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

.container {
	background-image: url(../man.jpg);
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
}

.container:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, .6);
	z-index: 0;
}

body {
	font-family: 'Permanent Marker', cursive;
}

h1 {
	background-image: url("../man.jpg");
	background-clip: text;
	background-size: cover;
	background-position: center center;
	-webkit-background-clip: text;
	color: transparent;
	z-index: 1;
	font-size: 12vw;
	display: block;
}