@media (min-width: 1200px) {
	
}

@media (max-width: 1199px) {
	.cap .header__mnu li a.el {
		display: none;
	}
	.cap .header__mnu ul {
		text-align: right;
		margin-right: 50px;
	}

}

@media (max-width: 767px) {
	.inner-header .btn {
		width: 100%;
		display: block;
		margin-bottom: 30px;

	}

	.headline.like-h2::before, .headline.like-h2::after {
		width: 0;
	}

	.mouse {
		display: none;
	}

	.inner-header {
		left: 50%;
		top: 50%;
		width: 80%;
	}
}

@media (max-width: 480px) {

}