@media (min-width: 1200px) {
	
}

@media (max-width: 1199px) {
	.cap .header__mnu li a.el {
		display: none;
	}
	.cap .header__mnu ul {
		text-align: right;
		margin-right: 50px;
	}

		.inner-header .btn {
		width: 100%;
		display: block;
		margin-bottom: 30px;

	}

	.inner-header {
		left: 50%;
		top: 50%;
		width: 80%;
		margin-top: 40px;
	}

}

@media (max-width: 767px) {
	.s-instruction {
		height: 500px;
	}

	.main-gallery img {
		width: 100%;
	}

	.notify {
		width: 80%;
	}

	.overlay .form-question {
		width: 80%;
	}

	.s-instruction .like-h2 {
		font-size: 24px;
	}

	.footer .logo {
		width: 50%;
	}

	.s-offers:after {
		display: none;
	}

	.s-question .contact  {
		height: 95%;
	}

	.footer {
		margin-top: 150px;
	}

	.s-offers:before {
		display: none;
	}

	.s-works ul {
		text-align: center;
		display: none;
	}

	.s-works .like-h2 {
		text-align: center;
	}

	.s-works ul li span {
		font-size: 14px;
		margin-bottom: 100px
	}

	.headline.like-h2::before, .headline.like-h2::after {
		width: 0;
	}
		.inner-header .like-h2 {
			font-size: 31px;
		}

		.inner-header p {
			font-size: 19px;
		}

	.mouse {
		display: none;
	}

	.footer__nav {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
@media (max-width: 415px) {
	.overlay .form-question {
		top: 0;
		right: 0;
		height: 100vh;
		margin: 0 auto;
		border-radius: 0;
	}

	.overlay .form-question p{
		width: 90%;
		/*display: none;*/
	}

	.overlay .form-question:before {
		border-radius: 0;
	}
}

@media (max-width: 410px) {
	.s-offers .item .inner-content.top375 {
		top: 45%;
	}

	.s-offers .block-text {
		padding-top: 50px;
		padding-bottom: 50px;
		width: 90%;
	}
	

}

@media (max-width: 370px) {
	.s-offers .item .inner-content.top375 {
		top: 60%;
	}
}

@media (max-width: 360px) {
	.s-offers .item .inner-content.top375 {
		top: 50%;
	}

	.inner-header .p {
		font-size: 16px;
		margin: 30px 0;
	}
}



@media (max-width: 320px) {
	.s-offers .item .inner-content.top375 {
		top: 50%;
	}
}

@media (max-width: 575px) {
	.btn__mnu {
		position: absolute;
		top: -114px;
	}

	.s-instruction .btn {
		font-size: 15px;
		padding: 15px 30px;
	}

	.s-instruction .inner {
		width: 90%;
	}

	.s-offers .item .inner-content {
		width: 70%;
	}

	.s-question .contact .like-h2 {
		font-size: 27px;
		width: 70%;
		text-align: left;
		margin-left: -13px;
	} 
	
.s-we .item img:nth-child(1) {
	margin-top: 5px;
}

	.s-we .item img {
		width: 30%;
		/*display: none;*/
	}

	.s-we .item {
		min-height: 150px;
	} 

	.s-we .item .like-h2 {
		font-size: 19px;
		position: absolute;
		top: 25%;
		left: 35%;
		width: 50%;
	}


	.overlay .form-question {
		width: 90%;
	}
	
	.overlay .form-question p {
		font-size: 15px;
	}

	.overlay .form-question .like-h2 {
		font-size: 24px;
	}

}

@media (max-width: 370px) {
	.btn__mnu {
		height: 45px;
		width: 110%;
		position: absolute;
		right: -10px;
		top: -111px;
	}

	.s-offers .item .inner-content {
		width: 80%;
	}

	.inner-header .btn {
		font-style: 10px;
		padding: 10px 30px;
	}

	.s-question .name-s {
		display: none;
	}

	.s-instruction .inner  {
		width: 80%;
	}

	.header .cap .header__logo img { 
		width: 150px;
		margin-top: 5px;
	}

	.btn__mnu a {
		font-size: 10px;
	}

	.header__mnu ul li a {
		font-size: 14px;
	}
}

@media (max-width: 354px) {
	.inner-header .btn {
		font-style: 10px;
		padding: 10px 25px;
	}
}