/*Clear css*/


* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
}

a {
	cursor: pointert;
}

input {
	font-family: var(--font-text);
}

::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #a6a6a6;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: white;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.center {
	text-align: center;
}

.loader .like-h2 {
	color: #666;
	font-size: 18px;
}

.loader {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #fff;
	z-index: 1000000;
	text-align: center;
	transition: .6s;
}

.loader img {
	transition: .6s;
}

.loader .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.loader .inner.hide {
	opacity: 0;
}

.loader.hide {
	opacity: 0;
	z-index: -100;
}

.btn {
	border: none;
	font-family: var(--font-text);
	font-size: 17px;
	background-color: #99CA25;
	padding: 15px 40px;
	border-radius: 100px;
	color: #fff;
	cursor: pointer;
	transition: .3s;
	text-decoration: none;
	text-align: center;
}

.btn:hover {
	box-shadow: 0px 0px 21px rgba(0, 0, 0, .16);
}

.btn--empty {
	background-color: rgba(255, 255, 255, .3);
	color: #fff;
	border: 2px solid #fff;
	padding: 16px 41px;
}

.btn--empty:hover {
	box-shadow: 0px 0px 21px rgba(0, 0, 0, .16);
	/*background-color: rgba(255, 255, 255, .4);*/
	bg
	/*color: #fff;*/
}

.like-h2 {
	font-size: 42px;
	font-family: Segoe Script;
	color: #fff;
	margin: 0;
}

p {
	color: #fff;
	font-family: var(--font-text);
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 16px;
	font-weight: normal;
}

.responsive-img {
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: center center;
}
/*Clear css*/

body {
	font-size: 16px;
	line-height: 1.7;
	overflow-x: hidden;
	transform-style: preserve-3d;
}

.cap {
	height: 90px;
	line-height: 90px;
	/*background-color: rgba(0, 0, 0, .6);*/
	position: fixed;
	width: 100%;
	z-index: 100;
	transition: .5s;
	top: 0;
}

.header .cap .header__logo img { 
	width: 170px;
}

.cap.white {
	background-color: #464646;
	box-shadow: 0px 0px 51px rgba(0, 0, 0, .25);
}

.header__logo {
	margin-top: 7px;
}

.header {
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: center center;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	box-sizing: border-box;
	box-shadow: ;
}

.header:before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .65);
}

.header__mnu ul {
	list-style-type: none;
	text-align: right;
	margin-right: 50px;
}

.header__mnu ul li {
	display: inline-block;
}

.header__mnu ul li a {
	color: #fff;
	text-decoration: none;
	margin-left: 25px;
	font-size: 17px;
	font-family: var(--font-text);
	padding-bottom: 10px;
	position: relative;
}

.header__mnu ul li a.el {
	/*background-color: red;*/
	padding: 20px 5px;
}

.header__mnu ul li a .line {
	transition: .3s;
	position: absolute;
	bottom: 10%;
	width: 0px;
	height: 5px;
	border-radius: 10px;
	background-color: #99CA25;
	left: 50%;
	top: 85%;
	transform: translateX(-50%);
}

.header__mnu ul li a:hover .line {
	width: 40px;
}

.header__mnu ul li a:last-child {
	margin-right: 0px;
}

.btn__mnu:hover {
	box-shadow: 0px 0px 51px rgba(0, 0, 0, .25);
}

.btn__mnu {
	background-color: rgba(153, 202, 37, 1);
	display: block;
	border-radius: 100px;
	height: 45px;
	width: 120%;
	/*padding: 20px 25px;*/
	line-height: 45px;
	text-align: center;
	transition: .2s;
	cursor: pointer;
}

.inner-header {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.inner-header .p {
	margin-top: 20px;
	width: 80%;
	margin-bottom: 50px;
	font-size: 20px;
	font-family: var(--font-text);
	color: #fff;
}

.inner-header .btn {
	margin-right: 30px;
}

.inner-header .btn:last-child {
	margin-right: 0;
}

.mouse {
	width: 25px;
	height: 50px;
	border-radius: 20px;
	border: 2px solid #fff;
	position: absolute;
	right: 50%;
	bottom: 3%;
	transform: translate(-50%, -50%) rotate(180deg);
	text-align: center;
	line-height: 40px;
}

.mouse .scroll {
	width: 3px;
	height: 10px;
	background-color: #fff;
	position: absolute;
	top: 20px;
	border-radius: 5px;
	left: 50%;
	transform: translateX(-50%);
	animation: scroll 1s infinite ease-in-out;
}

@keyframes scroll {
	0% {
		height: 10px;
		top: 15px;
	}

	50% {
		height: 15px;
	}

	80% {
		top: 5px;
		height: 0px;
	}

	100% {
		height: 10px;
		top: 15px;
	}
}

.s-we .item .top20 {
	margin-top: -20px;
}

.s-we .item .like-h2 {
	color: black;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 30px;
}


.s-we .item p {
	padding-left: 20px;
	padding-right: 20px;
}

.headline.like-h2::before {
	content: "";
	position: absolute;
	width: 120px;
	height: 1px;
	top: 50%;
	left: 68%;
	background-color: #565656;
}

.headline.like-h2::after {
	content: "";
	position: absolute;
	width: 120px;
	height: 1px;
	top: 50%;
	right: 68%;
	background-color: #565656;
}

.headline.like-h2 {
	text-align: center;
	margin-top: 90px;
	margin-bottom: 70px;
	font-size: 30px;
	position: relative;
	color: #565656;
}

.s-we .item {
	border-radius: 15px;
	padding: 45px 40px;
	/*line-height: 140px;*/
	margin-bottom: 30px;
	/*transition: .2s;*/
	box-shadow: 0 3px 12px rgba(0, 0, 0, .16);
}

.s-we p {
	color: black;
}

.s-we .item img {
	width: 70px;
}


.s-we .item h1 {
	font-size: 18px;
	/*margin-left: 30px;*/
}

.text {
	font-family: var(--font-text);
	font-size: 22px;
	color: #707070;
}

.s-progress .item {
	margin-bottom: 50px;
}

.s-progress .bars {
	margin-top: 70px;
}

.s-progress .progress-bar {
	width: 100%;
	background-color: rgba(0, 0, 0, .14);
	height: 7px;
	border-radius: 10px;
	margin-top: 15px;
	position: relative;
	z-index: 10000;
}

.s-progress .progress-bar::before {
	position: absolute;
	width: 70%;
	height: 7px;
	background-color: #9ACF1F;
	content: "";
	border-radius: 10px;
	z-index: -100;
	left: 0;
}

.s-progress .text:nth-child(3) {
	text-align: right;
}

.text-left {
	text-align: left;
}

.s-offers .item:before {
	content: "";
	position: absolute;
	background: linear-gradient(transparent, #333333);
	width: 100%;
	height: 100%;
	z-index: 1;
	border-radius: 10px;

}

.s-offers .item .like-h2 {
	font-family: var(--font-text);
	font-size: 31px;
}

.s-offers a {
	text-decoration: none;
}

.s-offers .item {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
	border-radius: 10px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
	position: relative;
	margin-bottom: 10px;
	z-index: 0;
	transition: .3s;
	cursor: pointer;
	display: block;
	/*text-decoration: none;*/
}

.s-offers .item:before:hover {
	background: linear-gradient(#333333, #333333);
}

.s-offers .item .line {
	width: 20%;
	/*background-color: red;*/
	border-radius: 10px;
	height: 6px;
	margin-top: -10px;
	/*position: absolute;*/
	/*bottom: 15%;*/
	/*z-index: 100;*/
	/*left: 0;*/
}

.line-yelow {
	background-color: #99CA25;
}

.line-blue {
	background-color: #2CC19D;
}

.s-offers .item .inner-content.top53 {
	top: 60%;
	/*position: absolute;*/
}

.s-offers .block-text {
	padding-bottom: 70px;
	padding-top: 70px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	/*background-color: #fff;*/
}

.s-offers .block-text .like-h2 {
	font-family: var(--font-text);
	color: black;
	font-size: 21px;
}

.s-offers .item .inner-content {
	z-index: 100;
	position: relative;
	top: 70%;
	left: 10%;
	width: 80%;
	font-family: var(--font-text);

}

.s-offers .item .like-h2 {
	font-size: 22px;
	font-family: var(--font-text);
	width: 80%;
}


.s-offers {
	position: relative;
}

.s-works {
	margin-top: 40px;
}

.s-works .like-h2.name-s {
	color: #565656;
	font-size: 28px;
	margin-bottom: 20px;
}

.s-works ul {
	list-style-type: none;
	text-align: right;
}

.s-works ul li {
	display: inline-block;
	text-align: center;
}

.s-works ul li span {
	margin-right: 20px;
	font-size: 20px;
	cursor: pointer;
	margin-bottom: 20px;
	padding: 20px 5px;
	transition: .5s;
	position: relative;
	font-family: var(--font-text);
}

.s-works ul li.active span .line {
	width: 40px;
}

.s-works ul li span .line {
	transition: .3s;
	position: absolute;
	bottom: 10%;
	width: 0px;
	height: 5px;
	border-radius: 10px;
	background-color: #99CA25;
	left: 53%;
	top: 85%;
	transform: translateX(-50%);
}

.s-works ul li span:hover .line {
	width: 40px;
}

.s-works ul li span:hover {
	color: #9ACF1F;
}

.s-works ul li.active span {
	color: #9ACF1F;
}


.s-works .works {
	margin-top: 50px;
	margin-bottom: 50px;
}

.s-works .works .col-md-4, .col-md-6, .col-md-5, .col-md-3 {
	padding: 0px 5px;
}

.s-works img {
	height: 330px;
}


/*.s-works .item {
	height: 300px;
	overflow: hidden;
}*/

.s-works .btn .fa {
	margin-right: 20px;
}

.s-works .btn {
	background-color: #fff;
	color: #777;
	/*box-shadow: 0 6px 23px rgba(0, 0, 0, .21);*/
	border: 1px solid #777777;
}

.s-instruction {
	height: 400px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	width: 100%;
	margin-top: 120px;
	position: relative;
	box-shadow: 0 0 56px rgba(0, 0, 0, .16);
}

.s-instruction .inner {
	position: absolute;
	text-align: center;
	width: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.s-instruction:before {
	background-color: rgba(0, 0, 0, .6);
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

}

.s-instruction .like-h2 {
	font-size: 28px;
	margin-bottom: 40px;
}

.s-question .name-s, .s-question .form-name, .s-question .contact .like-h2  {
	font-size: 27px;
	color: #777;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	margin-top: 90px;
}

.s-question .form-name {
	width: 100%;
	margin-bottom: 50px;
}

.s-question .form-question input, textarea {
	background-color: #EBEBEB;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .16);
	transition: .3s;
	padding: 20px 40px;
	border: none;
	border-radius: 12px;
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
	font-family: var(--font-text);
	font-size: 18px;
}

.s-question .form-question.wrong-inputs input, .s-question .form-question.wrong-inputs textarea {
	transition: .5s;
	background-color: rgba(202,50,8, .4);
}

.s-question .form-question input:focus, textarea:focus {
	box-shadow: 0 3px 15px rgba(0, 0, 0, .16);
	background-color: #fff;
}

.s-question .form-question textarea {
	height: 150px;
	padding: 25px 40px;
	margin-bottom: 60px;
	resize: vertical;
}

.s-question .form-question .btn {
	padding-right: 90px;
	padding-left: 90px;
}

.s-question .contact {
	box-shadow: 0px 1px 28px rgba(0, 0, 0, .1);
	border-radius: 12px;
	height: 87%;
}

.s-question .contact .like-h2 {
	width: 100%;
	/*margin-top: 30px;*/
	padding-bottom: 50px;
	padding-top: 70px;
	padding-left: 70px;
	text-align: left;
}

.s-question .contact p {
	color: #707070;
	padding-left: 60px;
	padding-bottom: 30px;
	font-family: var(--font-text);
	font-size: 18px;
}

.s-question .contact p .fa {
	color: #9ACF1F;
	margin-right: 20px;
	font-size: 21px;
}

.s-question .contact .btn, .footer .social .btn {
	width: 60px;
	height: 60px;
	padding: 0;
	display: inline-block;
	line-height: 60px;
	text-align: center;
	margin-left: 15px;
	margin-top: 30px;
	font-size: 25px;
	 background: linear-gradient(to right, #dd5e89, #f7bb97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 18px;
}

.s-question .contact .btn, .footer .social .btn {
	box-shadow: none;
}

.s-question .contact .social {
	margin-left: 40px;
}

.footer .logo {
	margin-top: 30px;
}

.footer {
	background-color: #464646;
	padding-bottom: 70px;
	padding-top: 70px;
	margin-top: 80px;
	box-shadow: 0 0px 34px rgba(0, 0, 0, .2);
}

.footer .social .btn {
	background-color: rgba(122, 122, 122, .54);
	box-shadow: 0 6px 16px rgba(0, 0, 0, .16);
}

.footer__nav ul {
	list-style-type: none;
	margin-left: 50px;
	margin-top: 40px;
}

.footer__nav ul li {
	/*display: block;*/
	margin-bottom: 15px;
	position: relative;
}

.footer__nav ul li:before {
	position: absolute;
	left: -30px;
	top: 8px;
	border: 2px solid #777;
	width: 10px;
	height: 10px;
	content: "";
	border-radius: 10px;
}

.footer__nav ul li a, .footer__nav ul li span {
	color: #fff;
	text-decoration: none;
	transition: .5s;
	font-size: 17px;
	font-family: var(--font-text);
	cursor: pointer;
}

.footer__nav ul li a:hover, .footer__nav ul li span:hover {
	color: #9ACF1F;
}

.footer .like-h2 {
	font-size: 25px;
	padding-left: 30px;
	padding-bottom: 20px;

}

/*google map*/
#map {
  height: 250px;
  border-radius: 10px;
}

.to-top {
	right: -20%;
	transition: .6s ease;
	z-index: 999999;
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 5%;
	text-align: center;
	line-height: 60px;
	padding: 0;
	font-size: 21px;
	border-radius: 10px;
}

.to-top.show {
	right: 5%;
}

.overlay {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .7);
	z-index: -10;
	opacity: 0;
	transition: .6s;
}

.overlay.active {
	opacity: 1;
	z-index: 1000000;

}

.overlay .form-question.wrong-inputs input {
	border: 1px solid #CA3208;
	transition: .5s;
	background-color: rgba(202,50,8, .4);
}

.overlay .form-question {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 12px;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, .16);
	transition: .6s;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	opacity: 0;
	z-index: -1000;
}

.overlay .form-question::before {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 12px;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 1));
	content: "";
	z-index: -1;
}

.overlay .form-question.active {
	top: 50%;
	opacity: 1;
	z-index: 1000;
}

.overlay .form-question .close.btn {
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	padding: 0;
	position: absolute;
	right: 20px;
	font-family: Calibria;
	background-color: #f6f6f6;
	color: black;
}

.overlay .form-question .close.btn:hover {
	box-shadow: none;
	background-color: #D5D5D5;
}

.overlay .form-question .close.btn div {
	width: 16px;
	height: 2px;
	background-color: #444;
	border-radius: 10px;
	position: absolute;
	top: 17px;
	left: 9.5px;
	transition: .2s;
}

.overlay .form-question .close.btn:hover div {
	background-color: #fff;
}

.overlay .form-question .close.btn div:nth-child(1) {
	transform: rotate(45deg);
}

.overlay .form-question .close.btn div:nth-child(2) {
	transform: rotate(-45deg);
}

.overlay .form-question .like-h2 {
	color: #333;
	font-size: 30px;
	text-align: center;
	margin-top: 45px;
}

.overlay .form-question p {
	color: #555;
	width: 70%;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 25px;
}

.overlay .form-question input {
	display: block;
	width: 80%;
	padding: 20px 30px;
	background-color: transparent;
	border: 1px solid #666;
	font-size: 17px;
	margin: 0 auto;
	border-radius: 10px;
	margin-bottom: 20px;
	transition: .3s;
}

.overlay .form-question input:focus {
	border: 1px solid #99CA25;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, .16);

}

.overlay .form-question .send {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
}

body {
	opacity: 1;
	overflow-y: scrollbar;
	line-height: 1.7;
}

.notify.active {
	top: 50%;
	opacity: 1;
	z-index: 1000;
}

.notify {
	position: absolute;
	top: 0;
	left: 50%;
	width: 40%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 50px;
	border-radius: 12px;
	font-size: 30px;
	text-align: center;
	z-index: -1000;
	opacity: 0;
	transition: .6s;
}

.notify p {
	color: black;
	font-family: Segoe Script;
	font-size: 23px;
	margin-top: 25px;
}

.notify .fa {
	font-size: 66px;
	color: #99CA25;
}

.product-header {
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	height: 400px;
	background-position: center center;
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
	/*box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);*/

}

.product-header:before {
	content: "";
	background: linear-gradient(rgba(255, 255, 255, .8), #fff);
	position: absolute;
	/*top: 0;*/
	width: 100%;
	height: 100%;
	z-index: -1;
}

.product-header .like-h2 {
	z-index: 100;
	font-size: 25px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	padding-top: 140px;
	color: black;
	margin-bottom: 20px;
}

.main-gallery img {
	display: block;
	/*w100p*/
	margin: 0 auto;
	/*margin-bottom: 40px;*/
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
	height: auto;
	margin-top: 100px;
}

.footer-gallery {
	background-color: #464646;
	padding-bottom: 70px;
	padding-top: 70px;
	margin-top: 80px;
	box-shadow: 0 0px 34px rgba(0, 0, 0, .2);
	text-align: center;
}
.footer-gallery .mail {
	padding-bottom: 25px;
	padding-top: 15px;
	font-weight: bold;
}

.footer-gallery p {
	padding-bottom: 5px;
	font-size: 20px;
}

.footer-gallery .like-h2 {
	font-family: var(--font-text);
	font-size: 40px;
}

.footer-gallery .btn {
	padding: 0;
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	display: inline-block;
	color: #fff;
	margin-top: 40px;
	border-radius: 20px;
	font-size: 25px;
	 background: linear-gradient(to right, #dd5e89, #f7bb97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 6px 16px rgba(0, 0, 0, .16);
}